
@import url(/* GOOGLE FONTS */)
/* ####################CANVIS A TOT EL DOCUMENT########### */
*{
	font-size: 25px;
}
/* ####################CAPÇALERA###################### */

ul.topnav {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #0077bb;
}

ul.topnav li {float: left;}

ul.topnav li button {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  background-color: #0077bb;
}

ul.topnav li button:hover {background-color: #0077bb;}

	p, h1 {
		text-align: center;
		margin: 1% 1% 1% 1%;
	}
/* ###########################FOOTER############################ */
footer{
	position:fixed;
	bottom: 0px;
	left: 0px;
	text-decoration: none;
	z-index: 100;
	width: 100%;
	background-color: #0077bb;
	height: 2em;
	text-align: center;
}
footer p {
	position: relative;
	margin: 0.5em auto;
	color: #f2f2f2;
}
/*#####################DEFINIM EL COS DE LA PAGINA############ */

body{
	background-color: #667F6D;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	
}
a{
	text-decoration: none;
}
/* article{
	margin: auto auto;
	
} */
/* section{
	position: fixed;
	margin: auto auto;
} */
.imatge{
	width: 400px;
	height: 400px;
	margin: auto auto;
}
.imatge2{
	width: 40%;
	height: auto;
	margin: auto auto;
}
.chart{
	background-color: white;
	width: 100%;
	height: 100%;
	position: relative;
}
fieldset{
	width: 50%;
	position: relative;
	text-align: center;
	margin: 2em auto;
}
/* ########################## FLEX BOX #################*/
.container {
	margin: auto auto;
	background-color: #f2f2f2;
	flex-direction: row; 
	flex-wrap: wrap; 
	justify-content: center;
	display: none;
	margin: auto auto;
	position: relative;
}

.container.active{
	display: flex;
	margin: auto auto;
	position: relative;
	height: 100%;
}
.item {
	padding-top: 1em;
	background-color: #f2f2f2;
	overflow: hidden;
	width: 100%; /* entra nomes un */ 
	margin-top: 1em;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;	
}
.item1 {
	padding-top: 1em;
	background-color: #f2f2f2;
	overflow: hidden;
	width: 25%; /* entra nomes un */ 
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;	
}
.item2 {
	padding-top: 1em;
	background-color: #f2f2f2;
	overflow: hidden;
	width: 75%; /* entra nomes un */ 
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;	
}
/* #####################MEDIA SCREEN######################## */
@media (max-width: 700px){	
	.item1{
		width: 95%;
			-webkit-order: 1;
			        order: 1;
					padding-bottom: 2em;
	}	
	.item2{
		width: 95%;
			-webkit-order: 0;
			        order: 0;
	}
	.imatge2{
		width: 100%;
		height: 100%;
		margin: auto auto;
	}
}

/* AQUI DEFINIM ELS MEDIA SCREEN PER TAL DE ADAPTAR LA NOSTRA WEB A DIFERENTS TIPUS DE PANTALLA */